.product-cont{
    display: flex;
    flex-direction: row;
    
    justify-content:space-around;
    width:70vw;
    margin: auto;
    margin-top: 100px;
   
}
.description{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.product-image1{
    height:400px;
    width:400px;
}