.bg-cont{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    text-align: center;
}
ul{
    list-style-type: none;
    flex-wrap: wrap;
    
    display: flex;
    flex-direction: row;
   
}
li{
    
    width:300px;
    background-color: rgb(190, 197, 197);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}
.product-image{
    margin-top: 10px;
    height:200px;
    width:180px;


}